.o-header{
  display: block;
  position: fixed;
  height: $size-header-height;
  background: hsla(348, 100%, 99%, 0.95);
  border-bottom: 2px solid #ffd6e0;
  width: 100%;
  top: 0;
  z-index: 1000;

  & > .container{
    height: $size-header-height - 2px; // Minus the bottom border
    display: flex;
    align-items: center;
  }
}

.o-header__logo{
  height: 42px;
  cursor: pointer;
}

.o-header__logo-type{
  padding-left: 1rem;
  font-family: $font-pridi;
  font-size: 2rem;
  font-weight: 500;
  color: $color-main;
  cursor: pointer;

  @include media(xs){
    display: none;
  }
}
