<div class="o-movie-details__backdrop" ng-attr-style="background-image:url({{MovieDetails.model.movie.backdrop_path}})">
    <div class="container">
        <div class="o-movie-details__poster" ng-attr-style="background-image:url({{MovieDetails.model.movie.poster_path}})"></div>
        <div class="o-movie-details__title">{{MovieDetails.model.movie.title}}</div>
    </div>
</div>
<div class="o-movie-details__details container">
    <div class="o-movie-details__detail" ng-if="MovieDetails.model.movie.title !== MovieDetails.model.movie.original_title">
        <div class="o-movie-details__detail__title">Título Original</div>
        <div class="o-movie-details__detail__value">{{MovieDetails.model.movie.original_title}}</div>
    </div>
    <div class="o-movie-details__detail">
        <div class="o-movie-details__detail__title">Data de Lançamento</div>
        <div class="o-movie-details__detail__value">{{MovieDetails.model.movie.release_date | date}}</div>
    </div>
    <div class="o-movie-details__detail">
        <div class="o-movie-details__detail__title">Gênero{{MovieDetails.model.movie.genres.length === 1 ? '' : 's'}}</div>
        <div class="o-movie-details__detail__value">
            <span ng-repeat="genre in MovieDetails.model.movie.genres">{{genre.name}}{{$last ? '' : ', '}}</span>
        </div>
    </div>
    <div class="o-movie-details__detail">
        <div class="o-movie-details__detail__title">Tempo de Filme</div>
        <div class="o-movie-details__detail__value">{{MovieDetails.model.movie.runtime}} minutos</div>
    </div>
    <div class="o-movie-details__detail o-movie-details__detail--big">
        <div class="o-movie-details__detail__title">Sinopse</div>
        <div class="o-movie-details__detail__value">{{MovieDetails.model.movie.overview}}</div>
    </div>
</div>
