// Colors
$color-main: hsl(346, 100%, 63%);
$color-accent: hsl(241, 100%, 67%);

// Fonts
$font-base-size: 14px;
$font-base-line-height: 1.42857143;
$font-pridi: 'Pridi', serif;
$font-source-sans: 'Source Sans Pro', sans-serif;

// Sizes
$size-border-radius: 5px;
$size-header-height: 62px;
$size-rem: 14px;
