.o-movie-list {
  display: block;
  margin-top: 2rem;
}

// .o-movie-list__navigator {
//   display: flex;
//   height: 46px;
//   background: hsla(241, 100%, 95%, 1);
//   border-radius: 5px;
//   margin-top: 1rem;
// }

// .o-movie-list__total-results {font-size: 1.25rem;font-family: 'Pridi', serif;padding: .8rem 1.5rem;color: hsla(240, 29%, 42%, 1);flex-shrink: 1;}

// .o-movie-list__pagination {
//   align-self: end;
//   flex-grow: 2;
//   align-content: end;
// }

.o-movie-list__page {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;

  &[data-page^="P"]::after {
    content: attr(data-page);
    display: block;
    position: absolute;
    height: 20px;
    bottom: 16px;
    left: 30px;
    color: hsla(241, 75%, 74%, 1);
    font-size: 15px;
    font-family: $font-pridi;
    border-bottom: 1px dashed hsla(241, 75%, 86%, 1);
    width: calc(100% - 60px);
    line-height: 14px;
  }
}

.o-movie-list__movie {
  flex-grow: 1;
  flex-basis: calc(100% / 4); // Number of movies per row
  height: ((1140px / 4) * 0.8) * 1.5; // Formula: ((content width / number of movies per row) - 20% for padding) * the aspect ratio of the posters
  margin-bottom: 4rem;
  text-align: center;
  max-width: 25%;

  @include media(md){
    height: ((940px / 4) * 0.8) * 1.5;
  }

  @include media(sm){
    flex-basis: calc(100% / 2);
    height: ((720px / 2) * 0.8) * 1.5;
    max-width: 50%;
  }

  @include media(xs){
    flex-basis: 100%;
    height: 450px;
    max-width: 100%;
  }
}

.o-movie-list__movie__poster{
  @extend %t-animated;

  position: relative;
  height: 100%;
  width: 80%;
  margin: auto;
  background-size: cover;
  background-position: center;
  border-radius: $size-border-radius;
  box-shadow: 0 4px 25px hsla(240, 50%, 87%, 1);

  &:hover{
    box-shadow: 0 15px 40px hsla(346, 100%, 77%, 1);
    transform: translateY(-5px);

    & > .o-movie-list__movie__title{
      opacity: 1;
    }
  }
}

.o-movie-list__movie__title {
  @extend %t-animated;

  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  background: linear-gradient(to top, rgb(255, 66, 110) 0%,rgba(255, 66, 110, 0.8) 30%,rgba(0,0,0,0) 100%);
  text-align: left;
  font-size: 1.8rem;
  font-family: $font-pridi;
  color: #fff;
  padding: 3em 1.5rem 1.5rem;
  border-radius: $size-border-radius - 1;
  text-shadow: -1px 1px 4px hsla(346, 90%, 47%, 1);
  font-weight: 500;
  line-height: 1.2;

  @include media(xs, sm){
    opacity: 1;
  }
}

.o-movie-list__movie__position {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: $color-main;
  font-size: 16px;
  font-family: $font-pridi;
  font-weight: 500;
  color: #fff;
  padding: 1px 5px;
  border-radius: 4px;
  box-shadow: 0 3px 15px hsla(346, 100%, 63%, 0.35);
}

.o-movie-list__load-previous {
    text-align: center;
    font-size: 17px;
    font-family: $font-pridi;
    color: $color-main;
    font-weight: 500;
    margin: 0 0 1.5rem;
    cursor: pointer;
}

.o-movie-list__blank-state {
  text-align: center;
  font-family: $font-pridi;
  color: $color-main;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 0 5px 24px hsla(346, 100%, 63%, 0.25);
  padding-top: 2rem;

  > img {
    margin-bottom: 2rem;
    box-shadow: 0 5px 50px -8px hsla(346, 100%, 63%, 0.6);
    border-radius: 35px;
  }
}
