.o-search-bar {
  position: relative;
  flex-grow: 1;
  padding-left: 2rem;

  &:active .o-search-bar__content.is-visible{
    opacity: 1;
    pointer-events: auto;
  }

  @include media(xs){
    padding-left: 1rem;
  }
}

.o-search-bar__icon{
  @extend %t-animated;

  content: '';
  position: absolute;
  height: 36px;
  width: 36px;
  background: url(/images/search.svg);
  top: 3px;
  left: calc(2rem + 3px);
  display: block;
  pointer-events: none;
  opacity: .6;

  &.is-loading{
    opacity: 1;
    background: url(/images/spinner.svg);
  }

  @include media(xs){
    left: calc(1rem + 3px);
  }
}

.o-search-bar__input {
  @extend %t-animated;

  width: 100%;
  background: #fafaff;
  height: 42px;
  border: 2px solid hsla(241, 100%, 85%, 1);
  border-radius: $size-border-radius;
  padding: 0 38px;
  font-size: 1.25rem;
  color: hsla(241, 100%, 80%, 1);
  font-family: $font-pridi;

  @include placeholder(){
    color: hsla(241, 100%, 80%, 1);
  }

  &:focus{
    color: $color-accent;

    &.has-keywords{
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    + .o-search-bar__icon{
      opacity: 1;
    }

    ~ .o-search-bar__content.is-visible{
      opacity: 1;
      pointer-events: auto;
    }
  }

  &:focus, &:active{
    outline: none;
    border-color: $color-accent;
  }
}

.o-search-bar__content {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: calc(100% - 2em);
  background: #fafaff;
  border: 2px solid $color-accent;
  border-top: none;
  padding: .5rem 0;
  border-bottom-left-radius: $size-border-radius;
  border-bottom-right-radius: $size-border-radius;
}

.o-search-bar__content__result {
    font-size: 16px;
    font-family: $font-pridi;
    color: #3e3cb1;
    padding: .2rem 1rem;
    cursor: pointer;
}

.o-search-bar__content__result:hover {
    background: #e4e4ff;
}
